
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: lightcoral;
}

nav{
    background-color: red;
    padding: 16px 5px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    z-index: 1000;
    top: 0px;
    align-items: center;
}



.nav-logo{
    color: white;
}

.nav-button{
    display: flex;
    gap: 10px;
}

.nav-btn{
    padding: 10px 20px;
    border: none;
    font-size: larger;
    font-weight: bolder;
    border-radius: 5px;
}

.btn-fav{
    background-color: lightgreen;
    color: black;
}

.btn-cart{
    background-color: rgb(219, 241, 94);
    color: black;
}

.btn-login{
    background-color: greenyellow;
    color: white;
}

.cont{
    max-width: 1200px;
    margin: 0px auto;
    padding: 32px;

}

#movie-cont{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
}

.movie-poster{
    width: 100%;
    height: 350px;
    overflow: hidden;
}
.movie-poster-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.movie-card{
 cursor: pointer;
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 background-color: white;
}
.movie-info{
    padding: 16px;
}
.movie-title{
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
.movie-year{
 color: #666;
 margin-bottom: 8px;
 font-size: 14px;
}
.movie-genre{
    display: inline-block;
    background-color: #667eea;
    padding: 4px 12px;
    color: white;
}
.movie-rating{
   color: goldenrod;
   margin-bottom: 4px;
}
.movie-buttons{
    display: flex;
    gap: 8PX;
}
.btn{
    flex: 1;;
    padding: 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}